
.tarjetaVideo{
    height: min-content;
    cursor: pointer;
    width: 100%;
    height: min-content;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;

}

.tarjetaVideo:hover{
    transition: all .2s;  
    filter: brightness(0.8);
    .tarjetaVideo__imagenReproductor{
        display: none; 

    }
}
.tarjetaVideo video{
    width: 250px;
    max-height: 100%;
    border-radius: 20px;


    
}
.botonDescarga{
    position: absolute;
    bottom:3%;
    left: 5%;
    display: none;
}
.tarjetaImagen:hover{
    .botonDescarga{
        display: flex;
    }
    filter: brightness(0.6);
    cursor: pointer;  
}
.container__botonDescarga{
    z-index: 2;
}


.logo__reproductor{
    position: absolute;
    top: 0;
    width: 20px;
    z-index: 4;
}

.tarjetaVideo__imagenReproductor{
    position: absolute;
    width: 40px;
}