.container_enlacesMobile{
    width: fit-content;
    display: flex;
    flex-direction: column;
    width: 150px;
    align-items: center;
    gap: 15px;
    border: 1px solid red;
    height: auto;
    z-index: 2;
}
.enlaces__mobile{
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    z-index: 10;
}
.enlaces__mobileOf{
    display: none;
}
.enlaces__mobile button{
  width: 80%;
  height: 35px;
  text-align: center;
  background-color: transparent;
  border: none;
  cursor: pointer;  
  border-radius: 7px; 
  background-color: black;
  color: white;
  font-weight: bold;
  transition: all 2.s;
  font-size: 16px;  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.enlaces__mobile button:hover{
    background-color: rgba(128, 0, 128, 0.651); 
  }




.BotonesEnlacesMobile{
    display: flex;
    width: min-content;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
    padding: 15px;

}


.boton_mobile{
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;



}

.BotonesEnlacesMobile:hover{
    background-color: #EEE;    
    .boton_mobile{
        color: black;
    }
}